.sidebar {
    width: 260px;
    height: 100vh;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;

    display: flex;
    flex-direction: column;
}

/* ================= HEADER ================= */
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 20px;
    border-bottom: 1px solid #f1f5f9;
}

.logo {
    width: 44px;
    height: 44px;
    background: #eef2ff;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 35px;
    height: 35px;
}

.sidebar-header h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #111827;
}

.sidebar-header p {
    margin: 0;
    font-size: 12px;
    color: #6b7280;
}

/* ================= MENU ================= */
.sidebar-menu {
    padding: 16px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* MENU ITEM */
.menu-item {
    position: relative;

    display: flex;
    align-items: center;
    gap: 14px;

    padding: 14px 16px;
    border-radius: 12px;

    font-size: 15px;
    font-weight: 500;
    color: #374151;
    text-decoration: none;

    transition: background 0.2s ease, color 0.2s ease;
}

/* ICON */
.menu-item span {
    font-size: 18px;
}

/* HOVER */
.menu-item:hover {
    background: #f3f4f6;
}

/* ACTIVE STATE */
.menu-item.active {
    background: #eef2ff;
    color: #4f46e5;
    font-weight: 600;
}

/* ACTIVE LEFT BAR */
.menu-item.active::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    bottom: 10px;
    width: 4px;
    background: #4f46e5;
    border-radius: 4px;
}

/* ================= PROFILE ================= */
.sidebar-profile {
    margin-top: auto;
    /* pushes to bottom */
    padding: 16px 20px;
    border-top: 1px solid #f1f5f9;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #111827;
}

.profile-info p {
    margin: 0;
    font-size: 12px;
    color: #6b7280;
}